html 
{
  scroll-behavior: smooth; /* Remember, it's to assist with the Shop now button scroll-down behaviour*/
}

.hero-section
{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;

}

.content-hero
{
    background-color: rgba(255, 255, 255, 0.368);
    margin: 80px 100px;
    text-align: center;

}

.content-hero h1
{
    margin: 70px 0;
    font-size: 60px;
}

.content-hero p
{
    margin: 70px 60px;
    font-size: 15px;
}


.read-more
{
   background-color:  rgba(255, 255, 255, 0.368) ;
   border-color:  rgba(255, 255, 255, 0.368);
   
}

.shop-now
{
    background-color: #363636;
    font-family: 'Itim', cursive;
    color: white;
    margin: 80px 0 0 0;
    padding: 15px;
}

/*SECTION TITLE*/
.section-title
{
  display: flex;
  flex-direction: row; 
  margin: 20px 0 0 95px;
}

.section-title h2
{
   font-size: 60px;

}

.section-title button
{
    margin: 60px 0 0 1050px;
    border: 2px solid #2C2C2C;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
}


/*BESTSELLERS SECTION*/

.Bestsellers
{
    overflow: hidden;
    padding: 100px 0;
    position: relative;
}

.horizontal-scroll-wrapper 
{
    width: 100%;
    overflow: hidden;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-track
{
  display: flex;
  gap: 40px;
  position: relative;
}

.product-card
{
  background-color: #f8f8f8;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.product-card img 
{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.wishlist-btn {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #B8B8B5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.product-card:hover 
{
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}


.wishlist-btn:hover {
  color: #363633;
}


/*DEPARTMENTS SECTION*/
.departments-grid
{
background-color: red;
}
/*SKIN CONCERNS SECTION*/
.concerns-grid 
{
    background-color: antiquewhite;
}
