html 
{
  scroll-behavior: smooth; /* Remember, it's to assist with the Shop now button scroll-down behaviour*/
}

.hero-section
{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;

}

.content-hero
{
    background-color: rgba(255, 255, 255, 0.368);
    margin: 80px 100px;
    text-align: center;

}

.content-hero h1
{
    margin: 70px 0;
    font-size: 60px;
}

.content-hero p
{
    margin: 70px 60px;
    font-size: 15px;
}